
.phpunit.result.cache
docs/coverage/Cache/Cache.php.html
docs/coverage/Cache/CacheInterface.php.html
docs/coverage/Cache/CacheRequired.php.html
docs/coverage/Cache/CacheWorker.php.html
docs/coverage/Cache/dashboard.html
docs/coverage/Cache/Drivers/dashboard.html
docs/coverage/Cache/Drivers/Disk.php.html
docs/coverage/Cache/Drivers/index.html
docs/coverage/Cache/Drivers/Redis.php.html
docs/coverage/Cache/index.html
docs/coverage/Config/dashboard.html
docs/coverage/Config/index.html
docs/coverage/Config/SimpleConfig.php.html
docs/coverage/Core/dashboard.html
docs/coverage/Core/index.html
docs/coverage/Core/SQLi/dashboard.html
docs/coverage/Core/SQLi/index.html
docs/coverage/Core/SQLi/SqlConnectedClass.php.html
docs/coverage/dashboard.html
docs/coverage/DbObjects/CollectionSet/CollectionSet.php.html
docs/coverage/DbObjects/CollectionSet/CollectionSetBulk.php.html
docs/coverage/DbObjects/CollectionSet/CollectionSetCore.php.html
docs/coverage/DbObjects/CollectionSet/CollectionSetGet.php.html
docs/coverage/DbObjects/CollectionSet/dashboard.html
docs/coverage/DbObjects/CollectionSet/index.html
docs/coverage/DbObjects/dashboard.html
docs/coverage/DbObjects/GenClass/dashboard.html
docs/coverage/DbObjects/GenClass/GenClass.php.html
docs/coverage/DbObjects/GenClass/GenClassControl.php.html
docs/coverage/DbObjects/GenClass/GenClassDB.php.html
docs/coverage/DbObjects/GenClass/index.html
docs/coverage/DbObjects/index.html
docs/coverage/Generator/dashboard.html
docs/coverage/Generator/DbObjectsFactory.php.html
docs/coverage/Generator/GeneratorDefaults.php.html
docs/coverage/Generator/GeneratorTypes.php.html
docs/coverage/Generator/GeneratorWriter.php.html
docs/coverage/Generator/index.html
docs/coverage/Generator/ModelFactory.php.html
docs/coverage/Generator/ModelFactoryShared.php.html
docs/coverage/Generator/SetModelFactory.php.html
docs/coverage/Generator/SingleModelFactory.php.html
docs/coverage/index.html
docs/coverage/MySQLi/dashboard.html
docs/coverage/MySQLi/index.html
docs/coverage/MySQLi/MysqliChange.php.html
docs/coverage/MySQLi/MysqliEnabled.php.html
docs/coverage/MySQLi/MysqliFunctions.php.html
docs/coverage/MySQLi/MysqlIProcess.php.html
docs/coverage/MySQLi/MysqliQuery.php.html
docs/coverage/MySQLi/MysqliWhere.php.html
docs/coverage/Cache/Cache.php.html
docs/coverage/Cache/CacheInterface.php.html
docs/coverage/Cache/CacheRequired.php.html
docs/coverage/Cache/CacheWorker.php.html
docs/coverage/Cache/dashboard.html
docs/coverage/Cache/Drivers/dashboard.html
docs/coverage/Cache/Drivers/Disk.php.html
docs/coverage/Cache/Drivers/index.html
docs/coverage/Cache/Drivers/Redis.php.html
docs/coverage/Cache/index.html
docs/coverage/Core/dashboard.html
docs/coverage/Core/index.html
docs/coverage/Core/SQLi/dashboard.html
docs/coverage/Core/SQLi/index.html
docs/coverage/Core/SQLi/SqlConnectedClass.php.html
docs/coverage/dashboard.html
docs/coverage/DbObjects/CollectionSet/CollectionSet.php.html
docs/coverage/DbObjects/CollectionSet/CollectionSetBulk.php.html
docs/coverage/DbObjects/CollectionSet/CollectionSetCore.php.html
docs/coverage/DbObjects/CollectionSet/CollectionSetGet.php.html
docs/coverage/DbObjects/CollectionSet/dashboard.html
docs/coverage/DbObjects/CollectionSet/index.html
docs/coverage/DbObjects/dashboard.html
docs/coverage/DbObjects/GenClass/dashboard.html
docs/coverage/DbObjects/GenClass/GenClass.php.html
docs/coverage/DbObjects/GenClass/GenClassControl.php.html
docs/coverage/DbObjects/GenClass/GenClassDB.php.html
docs/coverage/DbObjects/GenClass/index.html
docs/coverage/DbObjects/index.html
docs/coverage/Generator/dashboard.html
docs/coverage/Generator/DbObjectsFactory.php.html
docs/coverage/Generator/GeneratorDefaults.php.html
docs/coverage/Generator/GeneratorTypes.php.html
docs/coverage/Generator/GeneratorWriter.php.html
docs/coverage/Generator/index.html
docs/coverage/Generator/ModelFactory.php.html
docs/coverage/index.html
docs/coverage/MySQLi/dashboard.html
docs/coverage/MySQLi/index.html
docs/coverage/MySQLi/MysqliChange.php.html
docs/coverage/MySQLi/MysqliEnabled.php.html
docs/coverage/MySQLi/MysqliFunctions.php.html
docs/coverage/MySQLi/MysqlIProcess.php.html
docs/coverage/MySQLi/MysqliQuery.php.html
docs/coverage/MySQLi/MysqliWhere.php.html
