<phpunit
    bootstrap="./tests/bootstrap.php"
    convertWarningsToExceptions="true"
    convertNoticesToExceptions="true"
    convertErrorsToExceptions="true"
    backupStaticAttributes="false"
    processIsolation="false"
    stopOnFailure="false"
    backupGlobals="false"
    colors="true"
>
<testsuites>
    <testsuite name="All">
      <directory>tests/core</directory>
      <directory>tests/filter</directory>
      <file>tests/mysqli/raw_sql_Test.php</file>
      <file>tests/mysqli/add_Test.php</file>
      <file>tests/mysqli/remove_Test.php</file>
      <file>tests/mysqli/count_Test.php</file>
      <file>tests/mysqli/update_Test.php</file>
      <directory>tests/gen</directory>
      <directory>tests/db_objects</directory>
    </testsuite>
</testsuites>
</phpunit>
