<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  bootstrap="./tests/bootstrap.php" 
  convertWarningsToExceptions="true" 
  convertNoticesToExceptions="true" 
  convertErrorsToExceptions="true" 
  backupStaticAttributes="false" 
  processIsolation="false" 
  stopOnFailure="true" 
  backupGlobals="false" 
  colors="true" 
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <directory>src/Junk</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="config">
      <file>tests/config/ConfigTests.php</file>
    </testsuite>
    <testsuite name="gen">
      <file>tests/gen/gen_Test.php</file>
    </testsuite>
    <testsuite name="All">
      <file>tests/mysqli/raw_sql_Test.php</file>
      <file>tests/mysqli/select_Test.php</file>
      <file>tests/mysqli/add_Test.php</file>
      <file>tests/mysqli/remove_Test.php</file>
      <file>tests/mysqli/count_Test.php</file>
      <file>tests/mysqli/update_Test.php</file>
      <file>tests/mysqli/search_Test.php</file>
      <file>tests/mysqli/support_Test.php</file>
      <file>tests/mysqli/info_select_Test.php</file>
      <file>tests/gen/gen_Test.php</file>
      <file>tests/db_objects/load_Test.php</file>
      <file>tests/db_objects/update_Test.php</file>
      <file>tests/db_objects/create_Test.php</file>
      <file>tests/db_objects/remove_Test.php</file>
      <file>tests/db_objects/support_Test.php</file>
      <file>tests/db_objects/GenClass_Test.php</file>
      <file>tests/db_objects/CollectionSet_Test.php</file>
      <file>tests/issues/issue3.php</file>
      <file>tests/issues/issue4.php</file>
      <file>tests/issues/issue5.php</file>
    </testsuite>
  </testsuites>
</phpunit>
